.Header-container{
    width: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: linear-gradient(to top, rgb(12, 133, 199), rgb(4, 66, 137) ,rgb(2, 54, 113));
}

.Header-container h1{
    font-size: 3rem;
    color: gold;
}

.Header-container p{
    font-size: 1.5rem;
    color: goldenrod
}